<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>{{ .Title }}</title>

  <link rel="mask-icon"  href="https://static.pluckeye.net/images/p64.svg" sizes="any">
  <link rel="icon"       href="https://static.pluckeye.net/images/p64.png" type="image/png">
  <link rel="stylesheet" href="https://static.pluckeye.net/css/bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha256-lOaIx2TxVOeXxtwAQFZpAAUfiOvhGa0qruK+8CmB1PQ=" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/css.css">
</head>

  <body>

    <main class="container">
      <div class="page-header"><h1>{{ .Title }}</h1></div>

      {{ .Content }}
    </main>

<footer></footer>
<script src="https://static.pluckeye.net/js/bootstrap/5.0.2/js/bootstrap.bundle.min.js" integrity="sha256-FUy0XjvhyXmBH6ITNasrzdTGPnFiW3RwqHTK42qLljA=" crossorigin="anonymous"></script>
<script src="https://static.pluckeye.net/js/anchor.min.js" integrity="sha256-jv1iEEP+E8Gii9VNtL2yeIAXCJvQl5vEiMJZT7Ui3Gs=" crossorigin="anonymous"></script>
<script src="https://static.pluckeye.net/js/onhuman.js"></script>
<script src="/js/js.js"></script>

  </body>
</html>
